{
  "ignore": ["node_modules/**"],
  "presets": [["@babel/env", { "modules": false }], "@babel/typescript"],
  "plugins": ["@babel/plugin-transform-class-properties"],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
