.note {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") top / 2px repeat-x, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2 1' version='1.1'><line x1='0' y1='0' x2='2' y2='0' stroke='%232983b6' stroke-dasharray='1'/></svg>") bottom / 2px repeat-x;
    background-color: #F8FBFD;
    color: #626262;
    padding: 2px 0;
    pointer-events: none;
    display: inline;

    .note--start,
    .note--end,
    .note--inner {
        display: inline;
        position: relative;
    }

    .note--start,
    .note--end {
        padding: 0 8px;
    }

    .note--start:before,
    .note--end:after,
    &--collapsed .note--start:after {
        cursor: pointer;
        content: '|';
        line-height: 1.25;
        overflow: hidden;
        pointer-events: all;
        position: absolute;
        text-indent: 10px;
        width: 8px;
    }

    .note--start:before {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 0 0 L 6 0 L 0 6 L 0 0 L 2 0 L 2 20 L 0 20' fill='%232983b6' stroke='none'/></svg>") top left / contain no-repeat;
        left: 0;
        top: -2px;
    }

    .note--end:after,
    &--collapsed .note--start:after {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 8 20' version='1.1'><path d='M 8 20 L 2 20 L 8 14 L 8 20 L 6 20 L 6 0 L 8 0' fill='%232983b6' stroke='none'/></svg>") top right / contain no-repeat;
        bottom: -1px;
        right: 0;
    }

    // Stops margins being added for lines that are completely blank apart from
    // note, allowing them to collapse

    * + & {
        margin: 0 2px;
    }

    &--collapsed {
        pointer-events: all;
        cursor: pointer;

        .note--inner,
        .note--end {
            display: none;
        }

        .note--start {
            display: inline-block;
            margin-top: -2px;
            overflow: hidden;
            padding-bottom: 4px;
            text-indent: 24px;
            vertical-align: top;
            width: 0; // use the padding
            white-space: nowrap;

            &:before {
                top: 0;
            }

            &:after {
                bottom: 2px;
            }
        }
    }
}
